@use '/src/variables' as v;

.button {
  border-radius: v.$xsmall-size;
  cursor: pointer;
  border: none;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  &.default {
    background: v.$background-base;
  }

  &.transparent {
    background: none;
    box-shadow: none;
  }

  &.filled {
    background: black;
    color: white;
  }
}
