.skillCard {
  transition: transform 200ms ease, box-shadow 200ms ease;
  
  &:hover {
    transform: translateY(-4px);
    box-shadow: var(--mantine-shadow-sm) !important;
  }
}

.iconContainer {
  color: var(--mantine-color-indigo-solid);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
  background-color: var(--mantine-color-indigo-light);
}
