@use "@/__variables" as *;
@use "@/__mixins" as *;

.skills {
  @include section;

  .skillsList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;

    @include mobile {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
}
