@use "@/__variables" as *;

@mixin mobile {
    @media (max-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin section {
    width: $section-width;
    max-width: 100vw;
    min-height: $section-height;
    display: flex;
    flex-direction: column;
    padding: $spacing-l;
}