// Spacing Variables
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 24px;
$spacing-xl: 32px;

// Section variables
$section-width: 960px;
$section-height: 70vh;

// Breakpoints
$breakpoint-mobile: 767px;
$breakpoint-tablet: 1024px;

// Colors
$color-text: #000;
$color-background: #fff;
$color-subtle: #333;
$color-green: #499167;
$color-red: #a33b20;
$color-indigo: #9395d3;

// Font Size
$font-size-base: 16px;
$font-size-m: 20px;
$font-size-l: 24px;
$font-size-s: 14px;
$font-size-xs: 12px;
$font-size-xl: 32px;
$font-size-xxl: 48px;
$font-size-xxxl: 64px;
$font-size-xxxxl: 96px;

// Box shadow
$shadow-hue: 0deg;
$shadow-saturation: 0%;
$shadow-lightness: 75%;
$shadow-elevations: (
  "low": (
    0.3px 0.5px 0.8px
      hsla($shadow-hue, $shadow-saturation, $shadow-lightness, 0.07),
    0.4px 0.8px 1.2px -0.4px hsla($shadow-hue, $shadow-saturation, $shadow-lightness, 0.17),
    0.8px 1.6px 2.5px -0.8px hsla($shadow-hue, $shadow-saturation, $shadow-lightness, 0.26),
  ),
  "medium": (
    0.3px 0.5px 0.8px
      hsla($shadow-hue, $shadow-saturation, $shadow-lightness, 0.08),
    0.9px 1.9px 2.9px -0.3px hsla($shadow-hue, $shadow-saturation, $shadow-lightness, 0.15),
    1.9px 3.8px 5.8px -0.6px hsla($shadow-hue, $shadow-saturation, $shadow-lightness, 0.23),
    4.1px 8.2px 12.6px -0.8px hsla($shadow-hue, $shadow-saturation, $shadow-lightness, 0.3),
  ),
  "high": (
    0.3px 0.5px 0.8px
      hsla($shadow-hue, $shadow-saturation, $shadow-lightness, 0.07),
    1.5px 3px 4.6px -0.1px hsla($shadow-hue, $shadow-saturation, $shadow-lightness, 0.11),
    2.6px 5.2px 8px -0.2px hsla($shadow-hue, $shadow-saturation, $shadow-lightness, 0.14),
    3.9px 7.8px 12px -0.4px hsla($shadow-hue, $shadow-saturation, $shadow-lightness, 0.18),
    5.6px 11.2px 17.2px -0.5px hsla($shadow-hue, $shadow-saturation, $shadow-lightness, 0.21),
    8px 16px 24.6px -0.6px hsla($shadow-hue, $shadow-saturation, $shadow-lightness, 0.25),
    11.4px 22.7px 34.9px -0.7px hsla($shadow-hue, $shadow-saturation, $shadow-lightness, 0.28),
    16px 32px 49.1px -0.8px hsla($shadow-hue, $shadow-saturation, $shadow-lightness, 0.32),
  ),
);
