.bold {
  font-weight: 700;
}

.thin {
  font-weight: 200;
}

.rem2 {
  font-size: 2rem;
}

.rem3 {
  font-size: 3rem;
}

.rem1 {
  font-size: 1rem;
}

.rem1-5 {
  font-size: 1.5rem;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-space-around {
  justify-content: space-around;
}

.h100p {
  height: 100%;
}

.flex-gap {
  gap: 1em;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

button {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: none;
  border: none;
  padding: 1.2rem;
  font-size: 1.2rem;
}

.active-btn {
  font-size: 1.3rem;
  font-weight: 700;
}

.active-li {
  border-bottom: 1px solid #000;
}

.projects {
  display: grid;
  width: calc(600px + 4em);
  margin: 50px auto;
  grid-template-columns: auto auto auto;
  justify-items: center;
  align-items: center;
  gap: 2em;
}

.projectCard {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 48px 100px rgba(17, 12, 46, 0.15);
  padding: 1.5rem;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
}

.projectCard:hover,
.projectCard:focus-within {
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.tag {
  border-radius: 50dvh;
  padding: 0.5rem;
  font-size: 0.8rem;
  display: block;
  margin: 0.5rem 0;
}

.ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 0.5rem;
  position: relative;
  top: -0.5rem;
  left: -0.5rem;
}

.success {
  background: #48beff;
}

.in-progress {
  background: #8acb88;
}

h2 {
  font-size: 0.9em;
}
