@use './variables' as v;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background-color: v.$background-base;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header,
main,
div,
button,
section {
  box-sizing: border-box;
}

.route {
  width: v.$container-width;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
